
.dashed-border {
    border-collapse: collapse; /* Ensures the borders collapse neatly */
  }
  
  .dashed-border th{
    border: 2px dashed #ffff !important; /* Makes the borders dashed with 2px thickness */

  }
  .dashed-border td {
    border: 2px dashed #0D6EFD !important; /* Makes the borders dashed with 2px thickness */
  }